@charset "UTF-8";
/* CSS Document */


body {
	padding:0;
	margin:0;
	background: rgb(221,237,217);
	height: 1200px;

 	 line-height:1.5;
 	 font-family: Verdana;
}

.background {
	padding:0;
	margin:0;
}

.navigation { 
		position: fixed;
		top:75px;
		left:5%;
		width:40px;
		z-index:2;
}

.name {
	position: absolute; 
	top:300px;
	left:5%;
	width:300px;
}

.about {
	position: absolute; 
	top:300px;
	right:8%;
	width:300px;

}


/* recent work */

#recent_background {
	margin-top:150px;
	background:white;
	width:100%;
}

#wrapper {
	background:white;
	width:75%;
	max-width: 1000px;
	height:1000px;
	margin-left: auto;
    margin-right: auto;
    margin:0 auto 0 auto;
	padding:100px 0 0 0;
}

#wrapper img {
	width:100%;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.packery {
  background: white;
}

/* clearfix */
.packery:after {
  content: ' ';
  display: block;
  clear: both;
}



/* width used for gutter */
.gutter-sizer {
  width: 2.8%;
}


.item {

  width: 22.9%;
  float: left;
  background: transparent;

}

.item.w2 {
  background:transparent;
}

.item.w3 {
  width: 48.6%;
}

/* end recent work/packery */

/* image hover opacity 

.item img {
	display:block;
	-webkit-transition: all 0.4s;
}

.item img.brightness:hover {
	-webkit-filter: brightness(0);
}

.item img:hover { -webkit-filter: opacity(30%); }

.opacity {
	-webkit-filter:none;
}
*/

/* caption hover */

.hover {
	position: absolute;
	width:100%;
	 -webkit-filter: opacity(0%);
	 background:rgba(255,255,255,.9);
	 transition: all 0.4s;
	 height:100%;
	 padding:15px 15px 15px 15px;
}

.item:hover .hover {
    -webkit-filter: opacity(100%);
}

#underline {
  width:100px;
  margin-bottom:-5px;
  height:15px;
  border-bottom: 4px solid rgb(254,157,131);
}

.open {
	 font-size:24px;
	 line-height:1.3em;
	 max-width:7em;
	 text-decoration:none;
	 cursor: pointer;
	 letter-spacing: 1.3px;
	 font-weight: bold;

}

.center_info {
	position: absolute;
	margin-right:15px;
	top: 50%;
	transform: translateY(-50%);

}

.center_info_2 {

	position: absolute;
	margin-right:15px;
	left:50%;
	width:50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);

}



/* typography */

.about h1  {
	color: rgb(254,157,131);
}



h1 {
	color: black;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: verdana;
    font-weight: bold;
    line-height: 24px;
}

h3 {
	color: black;
    font-size: 14px;
    font-family: verdana;
    line-height: 27px;
    font-weight: normal;

}

p {
	font-family: georgia;
	font-size:14px;
	line-height: 10px;
	color: #808080;
}

p.italic {
	font-style:italic;
}





.item a {
	text-decoration:none;
	color:black;
	display:block;
}




/* navigation hover animation */

.navigation a, a:visited {
    color: black;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-family: verdana;

    text-decoration: none;
    position: relative;
    white-space: nowrap;
    line-height: 24px;
}

.navigation a::after, a:visited::after {
    content: '';
    border-bottom: 3px solid;
    border-color: rgb(254,157,131) ;
    -webkit-transition: left .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: left .3s ease-in-out,width .3s ease-in-out;
    -o-transition: left .3s ease-in-out,width .3s ease-in-out;
    transition: left .3s ease-in-out,width .3s ease-in-out;
    -webkit-transition-timing-function: cubic-bezier(0.19,1,.22,1);
    -moz-transition-timing-function: cubic-bezier(0.19,1,.22,1);
    -o-transition-timing-function: cubic-bezier(0.19,1,.22,1);
    transition-timing-function: cubic-bezier(0.19,1,.22,1);
    position: absolute;
    left: 0;
    top: 44%;
    width: 100%;

}

.navigation a:hover::after{width:0;right:100%}






/* stairs images and span */

#center {
	height:600px;
	width:150px;
	margin:10px auto 10px auto;

}


#background_pen {
	position:absolute;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	margin-top:-10px;
	width:450px;
	z-index:-3;


}

a.b2 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;

}

a.b3 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/02S.png) no-repeat;
	visibility:hidden;
}
a.b4 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/03S.png) no-repeat;
	visibility:hidden;
}
a.b5 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/04S.png) no-repeat;
	visibility:hidden;
}
a.b6 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/05S.png) no-repeat;
	visibility:hidden;
}
a.b7 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/06S.png) no-repeat;
	visibility:hidden;
}
a.b8 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/07S.png) no-repeat;
	visibility:hidden;
}
a.b9 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/08S.png) no-repeat;
	visibility:hidden;
}
a.b10 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}

a.b11 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}
a.b12 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}
a.b13 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}
a.b14 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}
a.b15 span {
	display:block;
	height:720px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	width:450px;
	background: url(images/01S.png) no-repeat;
	visibility:hidden;
}


a.bar {
	float:left;
	display:block;
	width:10px;
	z-index:10;
	height:600px;
	position:static;
	background-color:rgba(30 150 0 .8);
	
}


a.bar:hover {

}
a.bar span {
	visibility:hidden;
}
a.bar:hover span {
	visibility:visible;
	position:absolute;
	top:0px;
	left:0px;
	z-index:-1;
	display:block;
	height:100%;


}



@media (max-width: 1050px) {
  .open{ font-size: 18px; }
  h3 {     font-size: 12px; }
  .about {
	right:3%;
	width:250px;

	}

}
